**1495. Friendly Movies Streamed Last Month**<br>
Write an SQL query to report the distinct titles of the kid-friendly movies streamed in June 2020.

In [ ]:
SELECT DISTINCT c.title 
FROM Content c
JOIN TVProgram tv
ON tv.content_id = c.content_id
WHERE c.kids_content = 'Y' AND content_type = 'Movies' AND tv.program_date LIKE '2020-06%'

**1511. Customer Order Frequency**<br>
Write an SQL query to report the customer_id and customer_name of customers who have spent at least $100 in each month of June and July 2020.

In [ ]:
SELECT t.customer_id, t.name 
FROM (SELECT c.customer_id, c.name, 
             SUM(CASE WHEN EXTRACT(MONTH FROM o.order_date) = 6 THEN o.quantity*p.price ELSE 0 END) AS June_total, 
             SUM(CASE WHEN EXTRACT(MONTH FROM o.order_date) = 7 THEN o.quantity*p.price ELSE 0 END) AS July_total 
      FROM Customers c 
      JOIN Orders o 
      ON c.customer_id = o.customer_id
      JOIN Product p 
      ON o.product_id = p.product_id 
      GROUP BY c.customer_id) t
WHERE t.June_total>=100 AND t.July_total >=100

**1517. Find Users With Valid E-Mails**

In [ ]:
SELECT *
FROM Users
WHERE mail REGEXP '^[a-zA-Z]+[a-zA-Z0-9._-]*@leetcode.com$'

**1527. Patients With a Condition**<br>
Write an SQL query to report the patient_id, patient_name who have Type I Diabetes. <br> Type I Diabetes always starts with DIAB1 prefix

In [ ]:
SELECT patient_id, patient_name, conditions
FROM Patients
WHERE conditions LIKE '%DIAB1%'

**1543. Fix Product Name Format**

In [ ]:
SELECT lower(trim(product_name)) as product_name, 
       DATE_FORMAT(sale_date, "%Y-%m") as sale_date, 
       COUNT(*) as total 
FROM Sales
GROUP BY 1,2
ORDER BY 1,2