**1350. Students With Invalid Departments**<br>
Write an SQL query to find the id and the name of all students who are enrolled in departments that no longer exists.

In [ ]:
SELECT s.id, s.name
FROM Students s
WHERE s.department_id NOT IN (SELECT id FROM Departments)

**1378. Replace Employee ID With The Unique Identifier**<br>
Write an SQL query to show the unique ID of each user, If a user doesn't have a unique ID replace just show null.

In [ ]:
SELECT eu.unique_id, e.name 
FROM Employees e
LEFT JOIN EmployeeUni eu
ON e.id = eu.id

**1407. Top Travellers**<br>
Write an SQL query to report the distance travelled by each user.

Return the result table ordered by travelled_distance in descending order, if two or more users travelled the same distance, order them by their name in ascending order.

In [ ]:
SELECT u.name, IFNULL(SUM(r.distance), 0) AS travelled_distance
FROM Users u
LEFT JOIN Rides r
ON u.id = r.user_id
GROUP BY name
ORDER BY travelled_distance DESC, name

**1435. Create a Session Bar Chart**<br>
You want to know how long a user visits your application. <br>You decided to create bins of "[0-5>", "[5-10>", "[10-15>" and "15 minutes or more" and count the number of sessions on it.

Write an SQL query to report the (bin, total) in any order.

In [ ]:
SELECT '[0-5>' AS 'bin', SUM(duration/60 < 5) AS 'total' FROM Sessions
UNION
SELECT '[5-10>' AS 'bin', SUM(duration/60 > 5 and duration/60<10) AS 'total' FROM Sessions
UNION
SELECT '[10-15>' AS 'bin', SUM(duration/60 > 10 and duration/60 < 15) AS 'total' FROM Sessions
UNION
SELECT '15 or more' AS 'bin', SUM(duration/60 > 15) AS 'total' FROM Sessions

**1484. Group Sold Products By The Date**<br>
Write an SQL query to find for each date, the number of distinct products sold and their names.
<br>
The sold-products names for each date should be sorted lexicographically. 
<br>
Return the result table ordered by sell_date.

In [ ]:
SELECT sell_date, 
       COUNT(DISTINCT product) AS num_sold, 
       GROUP_CONCAT(DISTINCT product ORDER BY product) AS products
FROM activities
GROUP BY sell_date

**1495. Friendly Movies Streamed Last Month**<br>
Write an SQL query to report the distinct titles of the kid-friendly movies streamed in June 2020.

In [ ]:
SELECT DISTINCT c.title 
FROM Content c
JOIN TVProgram tv
ON tv.content_id = c.content_id
WHERE c.kids_content = 'Y' AND content_type = 'Movies' AND tv.program_date LIKE '2020-06%'

**1511. Customer Order Frequency**<br>
Write an SQL query to report the customer_id and customer_name of customers who have spent at least $100 in each month of June and July 2020.

In [ ]:
SELECT t.customer_id, t.name 
FROM (SELECT c.customer_id, c.name, 
             SUM(CASE WHEN EXTRACT(MONTH FROM o.order_date) = 6 THEN o.quantity*p.price ELSE 0 END) AS June_total, 
             SUM(CASE WHEN EXTRACT(MONTH FROM o.order_date) = 7 THEN o.quantity*p.price ELSE 0 END) AS July_total 
      FROM Customers c 
      JOIN Orders o 
      ON c.customer_id = o.customer_id
      JOIN Product p 
      ON o.product_id = p.product_id 
      GROUP BY c.customer_id) t
WHERE t.June_total>=100 AND t.July_total >=100

**1517. Find Users With Valid E-Mails**

In [ ]:
SELECT *
FROM Users
WHERE mail REGEXP '^[a-zA-Z]+[a-zA-Z0-9._-]*@leetcode.com$'

**1527. Patients With a Condition**<br>
Write an SQL query to report the patient_id, patient_name who have Type I Diabetes. <br> Type I Diabetes always starts with DIAB1 prefix

In [ ]:
SELECT patient_id, patient_name, conditions
FROM Patients
WHERE conditions LIKE '%DIAB1%'

**1543. Fix Product Name Format**

In [ ]:
SELECT LOWER(TRIM(product_name)) AS product_name, 
       DATE_FORMAT(sale_date, "%Y-%m") AS sale_date, 
       COUNT(*) AS total 
FROM Sales
GROUP BY 1,2
ORDER BY 1,2

**1565. Unique Orders and Customers Per Month**<br>
Write an SQL query to find the number of unique orders and the number of unique users with invoices > $20 for each different month.

In [ ]:
SELECT DATE_FORMAT(order_date, '%Y-%m') AS month, 
       COUNT(order_id) AS order_count,
       COUNT(DISTINCT customer_id) AS customer_count 
FROM Orders
WHERE invoice > 20
GROUP BY 1