**1241. Number of Comments per Post**<br>
Write an SQL query to find number of comments per each post.

Result table should contain post_id and its corresponding number_of_comments, and must be sorted by post_id in ascending order.

Submissions may contain duplicate comments. You should count the number of unique comments per post.

Submissions may contain duplicate posts. You should treat them as one post.

In [ ]:
SELECT t1.sub_id AS post_id, COUNT(t2.parent_id) AS number_of_comments 
FROM
    (SELECT DISTINCT sub_id FROM Submissions WHERE parent_id iS NULL) t1
LEFT JOIN
    (SELECT DISTINCT sub_id, parent_id FROM Submissions WHERE parent_id IS NOT NULL) t2
ON t1.sub_id = t2.parent_id
GROUP BY t1.sub_id
ORDER BY post_id

**1251. Average Selling Price**<br>
Write an SQL query to find the average selling price for each product.<br>
average_price should be rounded to 2 decimal places.

In [ ]:
SELECT p.product_id, ROUND(SUM(p.price*u.units) / SUM(u.units),2) AS average_price
FROM Prices p
JOIN UnitsSold u
ON p.product_id = u.product_id AND u.purchase_date BETWEEN p.start_date AND p.end_date
GROUP BY p.product_id

**1280. Students and Examinations**<br>
Write an SQL query to find the number of times each student attended each exam.<br>
Order the result table by student_id and subject_name.

In [ ]:
SELECT s.student_id, s.student_name, sb.subject_name, COUNT(e.subject_name) AS attended_exams
FROM Students s 
CROSS JOIN Subjects sb 
LEFT JOIN Examinations e
ON s.student_id=e.student_id AND sb.subject_name = e.subject_name
GROUP BY s.student_id, sb.subject_name, s.student_name
ORDER BY s.student_id, sb.subject_name

**1294. Weather Type in Each Country**<br>
Write an SQL query to find the type of weather in each country for November 2019.

The type of weather is Cold if the average weather_state is less than or equal 15, Hot if the average weather_state is greater than or equal 25 and Warm otherwise.

In [ ]:
SELECT c.country_name,
CASE WHEN AVG(w.weather_state)<=15 THEN 'Cold'
WHEN AVG(w.weather_state)>=25 THEN 'Hot' ELSE 'Warm' END AS weather_type
FROM Countries c
JOIN weather w
ON c.country_id = w.country_id
WHERE day LIKE '2019-11-%'
GROUP BY c.country_id

**1303. Find the Team Size**<br>
Write a SQL query to find the team size of each of the employees.

In [ ]:
# Method 1 : Intuitive Method

SELECT e.employee_id, t.cnt AS team_size
FROM employee e
JOIN (SELECT team_id, COUNT(*) AS cnt FROM employee GROUP BY team_id) t
ON e.team_id = t.team_id

In [ ]:
# Method 2: Windows Function

SELECT employee_id, COUNT(*) OVER(PARTITION BY team_id) AS team_size FROM Employee

**1322. Ads Performance**<br>
A company is running Ads and wants to calculate the performance of each Ad.

Performance of the Ad is measured using Click-Through Rate (CTR).
rite an SQL query to find the ctr of each Ad.

Round ctr to 2 decimal points. Order the result table by ctr in descending order and by ad_id in ascending order in case of a tie.

In [ ]:
SELECT ad_id, 
IFNULL(
    ROUND(
        (SUM(CASE WHEN action='Clicked' THEN 1 END) / SUM(CASE WHEN action='Clicked' OR action='Viewed' THEN 1 END))*100,
        2),0) AS ctr
FROM ads
GROUP BY ad_id
ORDER BY ctr DESC, ad_id

**1327. List the Products Ordered in a Period**<br>
Write a SQL query to get the names of products with greater than or equal to 100 units ordered in February 2020 and their amount.

In [ ]:
SELECT p.product_name, SUM(o.unit) AS unit
FROM Products p
JOIN Orders o
ON p.product_id = o.product_id
WHERE o.order_date LIKE '2020-02%'
GROUP BY p.product_name
HAVING unit>=100

**1350. Students With Invalid Departments**<br>
Write an SQL query to find the id and the name of all students who are enrolled in departments that no longer exists.

In [ ]:
SELECT s.id, s.name
FROM Students s
WHERE s.department_id NOT IN (SELECT id FROM Departments)

**1378. Replace Employee ID With The Unique Identifier**<br>
Write an SQL query to show the unique ID of each user, If a user doesn't have a unique ID replace just show null.

In [ ]:
SELECT eu.unique_id, e.name 
FROM Employees e
LEFT JOIN EmployeeUni eu
ON e.id = eu.id

**1407. Top Travellers**<br>
Write an SQL query to report the distance travelled by each user.

Return the result table ordered by travelled_distance in descending order, if two or more users travelled the same distance, order them by their name in ascending order.

In [ ]:
SELECT u.name, IFNULL(SUM(r.distance), 0) AS travelled_distance
FROM Users u
LEFT JOIN Rides r
ON u.id = r.user_id
GROUP BY name
ORDER BY travelled_distance DESC, name

**1435. Create a Session Bar Chart**<br>
You want to know how long a user visits your application. <br>You decided to create bins of "[0-5>", "[5-10>", "[10-15>" and "15 minutes or more" and count the number of sessions on it.

Write an SQL query to report the (bin, total) in any order.

In [ ]:
SELECT '[0-5>' AS 'bin', SUM(duration/60 < 5) AS 'total' FROM Sessions
UNION
SELECT '[5-10>' AS 'bin', SUM(duration/60 > 5 and duration/60<10) AS 'total' FROM Sessions
UNION
SELECT '[10-15>' AS 'bin', SUM(duration/60 > 10 and duration/60 < 15) AS 'total' FROM Sessions
UNION
SELECT '15 or more' AS 'bin', SUM(duration/60 > 15) AS 'total' FROM Sessions

**1484. Group Sold Products By The Date**<br>
Write an SQL query to find for each date, the number of distinct products sold and their names.
<br>
The sold-products names for each date should be sorted lexicographically. 
<br>
Return the result table ordered by sell_date.

In [ ]:
SELECT sell_date, 
       COUNT(DISTINCT product) AS num_sold, 
       GROUP_CONCAT(DISTINCT product ORDER BY product) AS products
FROM activities
GROUP BY sell_date

**1495. Friendly Movies Streamed Last Month**<br>
Write an SQL query to report the distinct titles of the kid-friendly movies streamed in June 2020.

In [ ]:
SELECT DISTINCT c.title 
FROM Content c
JOIN TVProgram tv
ON tv.content_id = c.content_id
WHERE c.kids_content = 'Y' AND content_type = 'Movies' AND tv.program_date LIKE '2020-06%'

**1511. Customer Order Frequency**<br>
Write an SQL query to report the customer_id and customer_name of customers who have spent at least $100 in each month of June and July 2020.

In [ ]:
SELECT t.customer_id, t.name 
FROM (SELECT c.customer_id, c.name, 
             SUM(CASE WHEN EXTRACT(MONTH FROM o.order_date) = 6 THEN o.quantity*p.price ELSE 0 END) AS June_total, 
             SUM(CASE WHEN EXTRACT(MONTH FROM o.order_date) = 7 THEN o.quantity*p.price ELSE 0 END) AS July_total 
      FROM Customers c 
      JOIN Orders o 
      ON c.customer_id = o.customer_id
      JOIN Product p 
      ON o.product_id = p.product_id 
      GROUP BY c.customer_id) t
WHERE t.June_total>=100 AND t.July_total >=100

**1517. Find Users With Valid E-Mails**

In [ ]:
SELECT *
FROM Users
WHERE mail REGEXP '^[a-zA-Z]+[a-zA-Z0-9._-]*@leetcode.com$'

**1527. Patients With a Condition**<br>
Write an SQL query to report the patient_id, patient_name who have Type I Diabetes. <br> Type I Diabetes always starts with DIAB1 prefix

In [ ]:
SELECT patient_id, patient_name, conditions
FROM Patients
WHERE conditions LIKE '%DIAB1%'

**1543. Fix Product Name Format**

In [ ]:
SELECT LOWER(TRIM(product_name)) AS product_name, 
       DATE_FORMAT(sale_date, "%Y-%m") AS sale_date, 
       COUNT(*) AS total 
FROM Sales
GROUP BY 1,2
ORDER BY 1,2

**1565. Unique Orders and Customers Per Month**<br>
Write an SQL query to find the number of unique orders and the number of unique users with invoices > $20 for each different month.

In [ ]:
SELECT DATE_FORMAT(order_date, '%Y-%m') AS month, 
       COUNT(order_id) AS order_count,
       COUNT(DISTINCT customer_id) AS customer_count 
FROM Orders
WHERE invoice > 20
GROUP BY 1

**1571. Warehouse Manager**<br>
Write a SQL query to report, How much cubic feet of volume does the inventory occupy in each warehouse.

In [ ]:
SELECT name AS warehouse_name, SUM(p.width*p.length*p.height*w.units) AS volume
FROM Warehouse w
JOIN Products p
ON w.product_id = p.product_id
GROUP BY w.name